._margins{
    margin-top:10px ;
    margin-bottom: 10px;
    text-align: center;
  }
  ._display{
      display: none;
  }
  ._color{
      color: gray;
      padding: 10px;
  }
  ._display{
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
  }